@tailwind base;
@tailwind components;
@tailwind utilities;

.w-card {
  width: 442px;
}

@font-face {
  font-family: "Prompt Light";
  src: local('Prompt Light'), url('/fonts/Prompt-Light.ttf');
}

@font-face {
  font-family: "Prompt Medium";
  src: local('Prompt Medium'), url('/fonts/Prompt-Medium.ttf');
}

@font-face {
  font-family: "Prompt SemiBold";
  src:  local('Prompt SemiBold'), url('/fonts/Prompt-SemiBold.ttf');
}